@charset "utf-8";

.table_style_row table td .u_view_photo img {width:120px; height:100px;}
h5 {font-size:80%;}
.in_txtul li {font-size:10px;} 
.sign_txt {font-size:15px; line-height:22px;}
.ntc_graybox {margin-top:10px;}
.sign_section {margin-top:20px;}